<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xwrc.xwrc.mapper.ResumeMapper" >
  <resultMap id="BaseResultMap" type="cn.xwrc.xwrc.pojo.Resume" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="qzyx" property="qzyx" jdbcType="CHAR" />
    <result column="zwpj" property="zwpj" jdbcType="CHAR" />
    <result column="jlmc" property="jlmc" jdbcType="CHAR" />
    <result column="qzlx" property="qzlx" jdbcType="CHAR" />
    <result column="lxfs" property="lxfs" jdbcType="CHAR" />
    <result column="qwdy" property="qwdy" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="CHAR" />
    <result column="updatetime" property="updatetime" jdbcType="CHAR" />
    <result column="delete" property="delete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.xwrc.xwrc.pojo.ResumeWithBLOBs" extends="BaseResultMap" >
    <result column="gzjy" property="gzjy" jdbcType="LONGVARCHAR" />
    <result column="jyjy" property="jyjy" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, qzyx, zwpj, jlmc, qzlx, lxfs, qwdy, createtime, updatetime, delete
  </sql>
  <sql id="Blob_Column_List" >
    gzjy, jyjy
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from resume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xwrc.xwrc.pojo.ResumeWithBLOBs" >
    insert into resume (id, uid, qzyx, zwpj, 
      jlmc, qzlx, lxfs, qwdy, 
      createtime, updatetime, delete, 
      gzjy, jyjy)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{qzyx,jdbcType=CHAR}, #{zwpj,jdbcType=CHAR}, 
      #{jlmc,jdbcType=CHAR}, #{qzlx,jdbcType=CHAR}, #{lxfs,jdbcType=CHAR}, #{qwdy,jdbcType=INTEGER}, 
      #{createtime,jdbcType=CHAR}, #{updatetime,jdbcType=CHAR}, #{delete,jdbcType=INTEGER}, 
      #{gzjy,jdbcType=LONGVARCHAR}, #{jyjy,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xwrc.xwrc.pojo.ResumeWithBLOBs" >
    insert into resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="qzyx != null" >
        qzyx,
      </if>
      <if test="zwpj != null" >
        zwpj,
      </if>
      <if test="jlmc != null" >
        jlmc,
      </if>
      <if test="qzlx != null" >
        qzlx,
      </if>
      <if test="lxfs != null" >
        lxfs,
      </if>
      <if test="qwdy != null" >
        qwdy,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="delete != null" >
        delete,
      </if>
      <if test="gzjy != null" >
        gzjy,
      </if>
      <if test="jyjy != null" >
        jyjy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="qzyx != null" >
        #{qzyx,jdbcType=CHAR},
      </if>
      <if test="zwpj != null" >
        #{zwpj,jdbcType=CHAR},
      </if>
      <if test="jlmc != null" >
        #{jlmc,jdbcType=CHAR},
      </if>
      <if test="qzlx != null" >
        #{qzlx,jdbcType=CHAR},
      </if>
      <if test="lxfs != null" >
        #{lxfs,jdbcType=CHAR},
      </if>
      <if test="qwdy != null" >
        #{qwdy,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=CHAR},
      </if>
      <if test="delete != null" >
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="gzjy != null" >
        #{gzjy,jdbcType=LONGVARCHAR},
      </if>
      <if test="jyjy != null" >
        #{jyjy,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xwrc.xwrc.pojo.ResumeWithBLOBs" >
    update resume
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="qzyx != null" >
        qzyx = #{qzyx,jdbcType=CHAR},
      </if>
      <if test="zwpj != null" >
        zwpj = #{zwpj,jdbcType=CHAR},
      </if>
      <if test="jlmc != null" >
        jlmc = #{jlmc,jdbcType=CHAR},
      </if>
      <if test="qzlx != null" >
        qzlx = #{qzlx,jdbcType=CHAR},
      </if>
      <if test="lxfs != null" >
        lxfs = #{lxfs,jdbcType=CHAR},
      </if>
      <if test="qwdy != null" >
        qwdy = #{qwdy,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=CHAR},
      </if>
      <if test="delete != null" >
        delete = #{delete,jdbcType=INTEGER},
      </if>
      <if test="gzjy != null" >
        gzjy = #{gzjy,jdbcType=LONGVARCHAR},
      </if>
      <if test="jyjy != null" >
        jyjy = #{jyjy,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.xwrc.xwrc.pojo.ResumeWithBLOBs" >
    update resume
    set uid = #{uid,jdbcType=INTEGER},
      qzyx = #{qzyx,jdbcType=CHAR},
      zwpj = #{zwpj,jdbcType=CHAR},
      jlmc = #{jlmc,jdbcType=CHAR},
      qzlx = #{qzlx,jdbcType=CHAR},
      lxfs = #{lxfs,jdbcType=CHAR},
      qwdy = #{qwdy,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=CHAR},
      updatetime = #{updatetime,jdbcType=CHAR},
      delete = #{delete,jdbcType=INTEGER},
      gzjy = #{gzjy,jdbcType=LONGVARCHAR},
      jyjy = #{jyjy,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xwrc.xwrc.pojo.Resume" >
    update resume
    set uid = #{uid,jdbcType=INTEGER},
      qzyx = #{qzyx,jdbcType=CHAR},
      zwpj = #{zwpj,jdbcType=CHAR},
      jlmc = #{jlmc,jdbcType=CHAR},
      qzlx = #{qzlx,jdbcType=CHAR},
      lxfs = #{lxfs,jdbcType=CHAR},
      qwdy = #{qwdy,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=CHAR},
      updatetime = #{updatetime,jdbcType=CHAR},
      delete = #{delete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>